body {
    background-color:black;
    color: #727272;
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
}

body > section {
    margin: 35px;
}

.sidebar {
    flex-grow: 1;
}

.content {
    flex-grow: 3;
}

.post_content {
    color: rgb(252, 252, 245);
    font-size: 18px;
}

.sidebar h1 {
    color: turquoise;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.descripcion {
    color: beige;
    font-size: 18px;
}

.git {
    color:aqua;
    font-size: 19px;
}

.pie_pag {
    color:green;
    position: absolute;
}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: darkred;
}

a:hover {
    color: green;
}

a:active {
    color: aqua;
}

header h1 {
    color:rgb(8, 129, 4);
    font-size: 2em;
}

.publc_title {
    color:beige;
    font-size:xx-large;
}

.publc_lista {
    font-size: 2em;
}
